body {
    font-family: monospace;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    font-weight: lighter;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #question {
    margin: 15px;
    font-size: 2.5vh;
    font-weight: bold;
  }

  #options label{
    display: block;
    margin: 10px;
  }


  .container .author{
    text-align: center ;
    margin-top: 20px;
  }

  .container .author p {
    font-style: italic;
    font-weight: bold;
    color: #555;
    font-size: 14px;
  }